@import url('./style.css');
/* large screen  */
@media only screen and (max-width: 1100px){
    header nav{
        justify-content: space-between;
    }
    header .menu{
        display: block;
        margin-right: 95px;
    }
    header .fa-xmark{
        display: block;
        position: absolute;
        left: 20px;
        top: 20px;
    }
    nav .nav-links {
        position: fixed;
        width: fit-content;
        height: fit-content;
        top: 100px;
        right: -105%;
        background-color: var(--primary-color);
        flex-direction: column;
        align-items: flex-end;
        padding: 30px 95px;
        z-index: 99;
        border-radius: 30px 0 0 30px;
        transition: .3s ease;
    }
    nav .nav-links.open{
        right: 0;
    }
    section, footer{
        padding: 0 20px;
    }
}

@media only screen and (max-width: 700px){
    section{
        margin-top: 50px;
    }
    .bottom-border::before{
        width: 70%;
    }
    header{
        padding: 20px 10%;
    }
    nav .logo {
        margin: 0;
    }
    header .menu {
        margin: 0;
    }
    .main-header {
        padding: 0;
        margin: 0;
    }
    .main-header h1 {
        margin-top: 80px;
    }
    .services-wrapper {
        margin-top: 30px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .service-card {
        width: auto;
        height: 400px;
    }
    .doctor-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .doctor-profile {
        width: auto;
        height: 470px;
    }
    .blog-wrapper .blog-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .blog-wrapper .health-card {
        width: auto;
        height: 300px;
    }
    .blog-wrapper .health-categories {
        box-shadow: var(--small-shadow);
        padding: 0 0 0 15px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width: 500px){
   
    .bottom-border{
        text-align: center;
    }
    .bottom-border::before{
        display: none;
    }
    header{
        height: 100vh;
    }
    .main-header h1 {
        margin-top: 40px;
    }
    .main-header .call-to-action {
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
    }
    .call-to-action > :last-child {
        margin-left:0;
    }
    .blog-wrapper .health-categories {
       display: none;
    }
    .services-wrapper {
        grid-template-columns: repeat(1, 1fr);
    }
    .doctor-wrapper {
        grid-template-columns: repeat(1, 1fr);
    }
    .about-wrapper {
        flex-direction: column-reverse;
    }
    .about-wrapper > div{
        width: 100%;
    }
    .contact-container {
        display: flex;
        flex-direction: column-reverse;
    }
    .testo-wrapper {
        
    }

    footer .footer-container {
        padding-top: 40px;
    }
    footer .col {
        max-width: 100%;
        width: 100%;
    }
    footer .app {
        flex-direction: row;
    }
    footer .app img:last-child {
        margin-top: 37px;
        height: 45px;
    }
}