@import url('./style.css');
/* large screen  */
@media only screen and (max-width: 1100px){
    header nav{
        justify-content: space-between;
    }
    header .menu{
        display: block;
        margin-right: 95px;
    }
    nav .nav-links {
        position: fixed;
        width: fit-content;
        height: fit-content;
        top: 100px;
        right: 0;
        background-color: var(--primary-color);
        flex-direction: column;
        align-items: flex-end;
        padding: 30px 95px;
        z-index: 99;
        border-radius: 30px 0 0 30px;
        display: none;
    }
    section, footer{
        padding: 0 20px;
    }
}

@media only screen and (max-width: 700px){
    section{
        margin-top: 50px;
    }
    .bottom-border::before{
        width: 70%;
    }
    header{
        border: 1px solid red;
        padding: 20px 10%;
    }
    nav .logo {
        margin: 0;
    }
    header .menu {
        margin: 0;
    }
    .main-header {
        padding: 0;
        margin: 0;
    }
    .main-header h1 {
        margin-top: 80px;
    }
    .services-wrapper {
        margin-top: 30px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .service-card {
        width: auto;
        height: 400px;
    }
    .doctor-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .doctor-profile {
        width: auto;
        height: 470px;
    }
    .blog-wrapper .blog-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .blog-wrapper .health-card {
        width: auto;
        height: 300px;
    }
    .blog-wrapper .health-categories {
        box-shadow: var(--small-shadow);
        padding: 0 0 0 15px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
    }
}