
/* google fonts  */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Racing+Sans+One&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-decoration: none;
    list-style: none;
}
:root{
    /* color  */
    --primary-color: #0084FF;
    --secondary-color: #34D399;
    --bg-color: #F8FAFC;
    --text-color: #1E293B;
    --gray-text-color: #1E293BB2;
    --gray-text-color: #1E293BB2;
    --light-gray: #E5E7EB;
    --white-light: #ffffff;
    --small-shadow:  0 1px 2px rgba(0, 0, 0, 0.25);

    /* fonts  */
    --primary-font: "Poppins", serif;
    --secondary-font: "Inter", serif;
    --third-font: "Racing Sans One", serif;

    --header-size: 32px;
    --sub-header-size: 24px;
    --medium-text-size: 18px;
    --base-text-size: 16px;
    --small-text-size: 14px;
    --mini-text-size: 12px;

    --regular: 400;
    --medium: 500;
    --semi-bold: 600;
    --bold: 700;

}
body{
    scroll-behavior: smooth;
    width: 100%;
    max-width: 1840px;
    margin: auto;
    background: var(--bg-color);
    color: var(--text-color);
    font-family: var(--primary-font);
}
img{
    width: 100%;
    height: 100%;
}
h1{
    font-size: var(--header-size);
    font-weight: var(--bold);
    line-height: 48px;
}
h2{
    font-size: var(--sub-header-size);
    font-weight: var(--semi-bold);
    color: var(--primary-color);
}
h3{
    color: var(--primary-color);
    font-size: var(--medium-text-size);
    font-weight: var(--semi-bold);
}

/*  =============== header section style start  =============== */
header{
    width: 100%;
    height: 662px;
    background: linear-gradient(to right, #0084ffe6, #34d3991a), url('../img/Logo-Banner/banner.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* ======== navigation bar style start ======== */
header nav{
    display: flex;
    align-items: center;
}
nav .logo{
    width: 81px;
    height: 81px;
    margin: 32px 43px 32px 95px;
}
nav .nav-links{
    display: flex;
    align-items: center;
    gap: 15px;
}
.nav-links li a{
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    border-radius: 8px;
    padding: 5px 20px;
    display: inline-block;
    transition: .3s ease;
}
.nav-links li a:hover, .active{
    background: var(--secondary-color);
    color: var(--text-color) !important;
    transform: scaleX(1.1);
}
.active{
    font-size: var(--medium);
    font-weight: bold;
}
/* ======== navigation bar style end ======== */

/* =========  main header style  ========= */
.main-header{
    margin: auto 95px;
    padding: 0 5px;
}
.main-header h1{
    margin-top: 113px;
    color: var(--white-light);
}
.main-header p,
.main-header button{
    margin-top: 30px;
}
.main-header p{
    color: var(--light-gray);
}
.main-header > button{
    font-size: var(--medium-text-size);
    font-weight: var(--medium);
    padding: 8px 20px;
    border-radius: 8px;
    background: var(--secondary-color);
    border: 1px solid transparent;
    color: var(--white-light);
    transition: .3s ease;
    cursor: pointer;
}
.main-header > button:hover{
    background: transparent;
    border: 1px solid var(--secondary-color);
}
.main-header .call-to-action{
    display: flex;
    align-items: center;
    margin-top: 50px;
}
.call-to-action > div{
    display: flex;
    align-items: center;
}
.call-to-action i{
    color: var(--white-light);
    font-size: 30px;
    margin-right: 10px;
}
.call-to-action span{
    color: var(--white-light)
}
.call-to-action > :last-child{
    margin-left: 30px;
}
/* =============== header section style end =============== */

/* =============== main section style start =============== */
main{
    width: 100%;
    max-width: 1220px;
    margin: auto;
}
section{
    margin-top: 80px;
}
section h1{
    position: relative;
}
section h1::after{
    content: "";
    width: 100%;
    height: 4px;
    background: var(--secondary-color);
    bottom: 0;
    left: 0;
    position: absolute;
}
.card-header{
    display: grid;
    place-content: center;
}

.bottom-border{
    text-align: right;
    margin-top: 26px;
    position: relative;
}
.bottom-border::before{
    position: absolute;
    content: "";
    width: 85%;
    height: 1px;
    background: var(--primary-color);
    bottom: 50%;
    transform: translateY(-50%);
    left: 0;
}
.bottom-border span{
    display: inline-block;
    border: 1px solid var(--primary-color);
    color: var(--secondary-color);
    border-radius: 10px;
    padding: 8px 26px;
    font-size: var(--medium-text-size);
    font-weight: var(--medium);
    cursor: pointer;
}

/* ================ our service ================   */
.services-wrapper{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; 
    gap: 20px;
}
.service-card{
    width: 285px;
    height: 470px;
    transition: .3s;
    cursor: default;
    border-radius: 10px;
    transition: 0.3s ease;
    box-shadow: var(--small-shadow);
    overflow: hidden;
}
.service-card:hover{
    box-shadow: 0 4px 10px #31d6995d;
}
.service-card img{
    height: 220px;
    border-radius: 10px 10px 0 0;
}
.card-text{
    margin: 20px;
}
.card-text h3{
    margin-top: 20px;
}
.card-text p{
    font-size: var(--small-text-size);
    font-weight: var(--regular);
    font-family: var(--secondary-font);
    margin-top: 10px;
}

/* ================== our doctor section ================== */
.doctor-wrapper{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; 
    gap: 20px;

}
.doctor-profile{
    width: 285px;
    height: 470px;
    position: relative;
    border-radius: 10px;
    cursor: pointer;
    transition: .3s ease;
    box-shadow: var(--small-shadow);
    overflow: hidden;
}
.doctor-profile:hover{
    box-shadow: 0 4px 10px #31d6995d;
}
.doctor-profile .top-part{
    position: relative;
    height: 280px;
    background: var(--light-gray);
    border-radius: 10px 10px 0 0;
}
.top-part span{
    position: absolute;
    right: 12px;
    top: 20px;
    font-family: var(--third-font);
    font-size: 40px;
    color: var(--light-gray);
    text-align: right;
    line-height: 25px;
}
.top-part span :last-child{
    font-size: var(--base-text-size);
}
.top-part .doc-bg-clr{
    background: var(--primary-color);
    width: 100%;
    height: 162px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px 10px 0 0;
}
.top-part .doc-profile-pic{
    width: 220px;
    height: 220px;
    position: absolute;
    border-radius: 50%;
    top: 32px;
    left: 50%;
    transform: translateX(-50%);
}
.doc-profile-pic img{
    border-radius: 50%;
    border: 5px solid var(--primary-color);
}

.doctor-profile .doc-text{
    width: 90%;
    height: 150px;
    margin: 20px auto;
    overflow: hidden;
}
.doc-text h2{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.doc-text h3{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 8px 0;
}
.doc-text p{
    font-family: var(--secondary-font);
    font-size: var(--small-text-size);
}


/* ================== Health Tips ================== */
.blog-wrapper{
    margin-top: 30px;
    display: flex;
    align-items: start;
    justify-content: space-between;
}
.blog-wrapper .blog-container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}
.blog-wrapper .health-card{
    width: 235px;
    height: 300px;
    overflow: hidden;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: var(--small-shadow);
    transition: .3s ease;
}
.health-card:hover{
    box-shadow: 0 4px 10px #31d6995d;
}
.health-card img{
    height: 160px;
    border-radius: 10px 10px 0 0;
}
.health-card .health-text{
    width: 90%;
    height: 120px;
    margin: auto;
    overflow: hidden;
}
.health-text h3{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.health-text p{
    font-family: var(--secondary-font);
    font-size: var(--small-text-size);
    margin-top: 10px;
}

.blog-wrapper .health-categories{
    box-shadow: var(--small-shadow);
    padding: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.health-categories h2{
    margin-bottom: 20px;
}
.health-categories a{
    border: 1px solid var(--secondary-color);
    padding: 5px 20px;
    border-radius: 8px;
    font-family: var(--secondary-font);
    font-size: var(--base-text-size);
    margin-bottom: 10px;
    cursor: pointer;
    display: block;
    transition: .3s ease;
}
.health-categories a:hover,
.health-categories :nth-child(2){
    background: var(--secondary-color);
}

/* =============== testimonials ===============  */
.testo-wrapper{
    margin-top: 30px;
    position: relative;
}
.chevron-left,
.chevron-right{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: var(--primary-color);
    color: var(--white-light);
    display: grid;
    place-content: center;
    cursor: pointer;
    transition: .3s ease;
}
.chevron-left:hover,
.chevron-right:hover{
    
    background:  var(--secondary-color);
    color: var(--text-color);
}

.testo-wrapper .chevron-left{
    left: 0;
}
.testo-wrapper .chevron-right{
    right: 0;
}
.testo-container{
    display: flex;
    gap: 20px;
}
.testo-container .testo-card{
    width: 285px;
    height: 170px;
    box-shadow: var(--small-shadow);
    position: relative;
    border-radius: 8px;
    margin-top: 20px;
}

.testo-card img{
    width: 80px;
    height: 80px;
    border: 3px solid var(--primary-color);
    border-radius: 50%;
    position: absolute;
    top: -20px;
    left: 10px;
}
.testo-card h4{
    margin-left: 35%;
    padding-top: 10px;
    font-size: var(--sub-header-size);
    font-weight: var(--semi-bold);
    color: var(--primary-color);
}
.testo-card p{
    font-size: var(--small-text-size);
    font-family: var(--secondary-font);
    margin: 0 10px 0 10px;
    padding-top: 20px;
    line-height: 19px;
}
.testo-card .testo-star{
    margin-left: 10px;
    display: flex;
    align-items: center;
}
.testo-star i{
    color: #f1d326;
    margin-right: 3px;
}

/* ================= about us ================= */
.about-wrapper{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 30px;
    gap: 20px;
}
.about-wrapper > div{
    flex: 1;
}
.about-wrapper .map iframe{
    width: 100%;
    height: 400px;
}
.about-text h3{
    font-size: var(--header-size);
    font-weight: var(--bold);
}
.about-text p{
    font-family: var(--secondary-font);
    font-size: var(--regular);
    margin: 10px 0 40px 0;
}
.about-text .short-des h4{
    color: var(--primary-color);
    font-size: var(--semi-bold);
    margin-bottom: 10px;
}

/* ===================== contact us =====================  */

.contact-container{
    display: flex;
    gap: 20px;
    margin-top: 30px;
}
.contact-container > *{
    flex: 1;
}
.faqs-container{
    overflow: auto;
}
.faqs-container h2{
    margin-bottom: 20px;
}
.faqs-container .fqa{
    width: 100%;
}
.fqa label{
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    margin-bottom: 5px;
    cursor: pointer;
    border-bottom: 1px solid #d2d2d2;
    transition: .3s ease;
}
.fqa label:hover{
    box-shadow: var(--small-shadow);
}
.fqa label span{
    font-family: var(--secondary-font);
    font-size: var(--medium-text-size);
}
.fqa label i{
    cursor: pointer;
}
.fqa p{
    box-shadow: var(--small-shadow);
    margin-bottom: 10px;
    padding: 5px 10px;
    font-family: var(--secondary-font);
    font-size: var(--small-text-size);
    display: none;   
}
.fqa input{
    display: none;
}

/* fqa display block unblock */
#firstQ:checked ~ .firstdes,
#secondQ:checked ~ .seconddes{
    display: block;
}
#firstQ:checked ~ label i,
#secondQ:checked ~ label i{
    transform: rotate(45deg);
}

/* ====== form =======  */

.contact-container form > input,
.contact-container form textarea{
    width: 100%;
    box-shadow: var(--small-shadow);
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 5px;
}
.form-checkbox{
    margin-top: 20px;
    font-family: var(--secondary-font);
    font-size: var(--base-text-size);
    display: flex;
    align-items: center;
}
.form-checkbox label{
    border: 2px solid var(--primary-color);
    border-radius: 2px;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    cursor: pointer;
    position: relative;
}
.form-checkbox label::after{
    content: '✓';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 2px;
    top: -12px;
    font-size: 25px;
    transform: rotate(12deg);
    color: var(--primary-color);
    display: none;
}
.form-checkbox input{
    display: none;
}
#patient-checkbox:checked ~  label::after{
    display: block;
}
.contact-container > form > :last-child{
    background: var(--primary-color);
    color: var(--white-light);
    font-weight: var(--medium);
    font-size: var(--medium-text-size);
    cursor: pointer;
}

/* ===================== footer =====================  */

footer{
    width: 100%;
    margin: 80px auto auto auto;
    background: #E5E7EB;
    color: var(--gray-text-color);
}
footer .footer-container{
    width: 100%;
    max-width: 1220px;
    margin: auto;
    padding-top: 80px;
}
footer img{
    width: 80px;
    height: 80px;
}
footer .up-footer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* gap: 10px; */
    padding-bottom: 40px;
    border-bottom: 1px solid var(--text-color);
}
footer .col{
    width: fit-content;
    max-width: 200px;
    display: flex;
    flex-direction: column;
}
footer .col1{
    
}
footer .up-footer .col h2{
    font-size: var(--sub-header-size);
    font-weight: var(--bold);
    color: var(--primary-color);
}
footer .col1 .social-media{
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}
footer .col1 .social-media i{
    font-size: 25px;
    cursor: pointer;
}
footer .up-footer .col1 p{
    font-size: var(--base-text-size);
    font-family: var(--secondary-font);
    margin-bottom: 10px
}
footer .footer-container .up-footer .col h2{
    margin-bottom: 12px;
}
footer a{
    color: #1E293BB2;
    font-size: var(--base-text-size);
    transition: .3s ease;
}
footer a:hover{
    text-decoration: underline;
}

footer .down-footer{
    text-align: center;
    padding: 20px 0;
}
.down-footer :first-child{
    color: var(--text-color);
    font-size: var(--base-text-size);
}
.down-footer :last-child{
    font-size: var(--small-text-size);
    cursor: pointer;
}